.restaurant-pic {
	height: 50vh;
	background: url('backgroundImages/pexels-photo-296888_wo.jpg');
	background-size: cover;
	background-position: 0 40%;
}

.restaurant-info {
	height: 50vh;
}

.reservation {
	height: 25vh;
}

/* add a deli pattern background*/
.reservation-form-container {
	position: relative;
	height: 100%;
	/*background-color: #2F1B00;*/
	/*background-color: blue;
	*/background-color: pink;
	/*background: url('http://ih1.redbubble.net/image.80745362.8983/flat,800x800,075,t.u4.jpg');*/
	background-size: cover;
	background-position: center;
}

.reservation-form {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.restaurant-locator {
	height: 50vh;
}

.headerText{
	margin: 1em;
	color: #fff;
	text-align: center;
}


.footer{
	text-align: center;
	padding: 1.2em;
	color: #9d9d9d;
	background-color: #222;
	height: 8vh;

}